<div class="container">
  <div class="row">
    <div class="col-4">
      <p>Add new Servers or blueprints!</p>      
      <div class="form-group">
        <label>Server Name</label>
        <input type="text" class="form-control" placeholder="Server Name" [(ngModel)]="newServerName">
      </div>      
      <div class="form-group">
        <label>Server Content</label>
        <input type="text" class="form-control" placeholder="Server Name" [(ngModel)]="newServerContent">
      </div>
      <button
        class="btn btn-primary mr-1"
        (click)="onAddServer()">Add Server</button>
      <button
        class="btn btn-primary"
        (click)="onAddBlueprint()">Add Server Blueprint</button>
    </div>

  </div>
  <hr>
  <div class="row">
    <div class="col-4">
      <div
        class="panel panel-default"
        *ngFor="let element of serverElements">
        <div class="panel-heading">{{ element.name }}</div>
        <div class="panel-body">
          <p>
            <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
            <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
