<div class="row">
    <div class="col col-sm-8 col-md-6 col-lg-6">   
      <div class="form-group">
        <label>Server Name</label>
        <input type="text" class="form-control" placeholder="Server Name" [(ngModel)]="newServerName">
      </div>      
      <div class="form-group">
        <label>Server Content</label>
        <input type="text" class="form-control" placeholder="Server Name" [(ngModel)]="newServerContent">
      </div>
      <div class="">
        <button 
          class="btn btn-primary mr-1 mb-1 mb-sm-0 mb-md-0"
          [disabled]="!newServerName || !newServerContent"
          (click)="onAddServer()">Add Server</button>
        <button
          class="btn btn-primary mr-1 mb-1 mb-sm-0 mb-md-0"
          [disabled]="!newServerName || !newServerContent"
          (click)="onAddBlueprint()">Add Server Blueprint</button>
      </div>
    </div>
  </div>